<div class="outer">
    <div class="padding">
        <h1>Education</h1>
        <div class="subtitle">
			<h3>University of St Andrews</h3>
			<h4>BSc (Hons) Computer Science (1st Class)</h4>
        </div>

        <!-- <table>
			<tr>
				<th>Module</th>
				<th>Title</th>
				<th>Grade</th>
			</tr>
			<tr>
				<td>CS3099</td>
				<td>Junior Honours Group Project</td>
				<td>16.3</td>
			</tr>
			<tr>
				<td>CS3302</td>
				<td>Data Encoding</td>
				<td>12.8</td>
			</tr>
			<tr>
				<td>CS3103</td>
				<td>Databases</td>
				<td>18.7</td>
			</tr>
			<tr>
				<td>CS3106</td>
				<td>HCI</td>
				<td>15.5</td>
			</tr>
			<tr>
				<td>CS3301</td>
				<td>Component Technology</td>
				<td>17.3</td>
			</tr>
			<tr>
				<td>CS3052</td>
				<td>Computational Complexity</td>
				<td>13.6</td>
			</tr>
			<tr>
				<td>CS3102</td>
				<td>Data Communication and Networks</td>
				<td>16.3</td>
			</tr>
			<tr>
				<td>CS4052</td>
				<td>Logic and Software Verification</td>
				<td>17.4</td>
			</tr>
			<tr>
				<td>CS5030</td>
				<td>Software Engineering Principles</td>
				<td>17.0</td>
			</tr>
			<tr>
				<td>CS4303</td>
				<td>Video Games</td>
				<td>17.3</td>
			</tr>
			<tr>
				<td>CS4099</td>
				<td>Senior Honours Project</td>
				<td>tba</td>
			</tr>
			<tr>
				<td>CS4204</td>
				<td>Concurrency and Multicore Architectures</td>
				<td>15.5</td>
			</tr>
			<tr>
				<td>CS5033</td>
				<td>Software Architecture</td>
				<td>16.9</td>
			</tr>
			<tr>
				<td>CS5044</td>
				<td>Information Visualisation</td>
				<td>tba</td>
			</tr>
        </table> -->
    </div>
</div>
