<div class="title"></div>
<div class="info">
    I'm an Oxford-based software engineer, working at Tripadvisor, with experience in a range of full-stack development projects as well as cross-platform developments.<br> 
    My love for dev work lies mainly in my frontend projects - if I never see another poorly designed website, it'll be too soon.
</div>
<div class="twocolumn">
    <div class="edu">
        <h4>Education</h4>
        BSc (Hons) Computer Science, <span style="font-weight: 500;">University of St Andrews</span>
    </div>
    <div class="skills">
        <span>Java</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Python</span>
        <span>Lua</span>
        <span>HTML/CSS</span>
        <span>Visual Basic</span>
        <span>C</span>
        <span>MySQL</span>
        <span>PostgreSQL</span>
        <span>MariaDB</span>
        <span>Git</span>
        <span>Node</span>
        <span>jQuery</span>
        <span>Dust.js</span>
        <span>Angular</span>
        <span>Ionic</span>
        <span>React</span>
        <span>Django</span>
        <span>Tableau</span>
        <span>D3</span>
        <span>Docker</span>
        <span>Android Native</span>
        <span>Photoshop</span>


    </div>
</div>