<div class="outer">
    <div class="padding">
		<h1>Noteworthy Projects</h1>
		<div class="item">
			<div class="subtitle">
                <h3>Experiences Sales Page</h3>
                <h4>TripAdvisor</h4>
			</div>
			<div class="languages">
				<i class="devicon-react-original colored tooltip"><span class="tooltiptext">React</span></i>
				<span class="tooltip"><img class="redux" src="https://img.icons8.com/material/24/000000/redux.png"/><span class="tooltiptext">Redux</span></span>
				<i class="devicon-javascript-plain colored tooltip"><span class="tooltiptext">JavaScript</span></i>
				<i class="devicon-html5-plain colored tooltip"><span class="tooltiptext">HTML</span></i>
				<i class="devicon-css3-plain colored tooltip"><span class="tooltiptext">CSS</span></i>
				<i class="devicon-java-plain colored tooltip"><span class="tooltiptext">Java</span></i>
				<i class="devicon-docker-plain colored tooltip"><span class="tooltiptext">Docker</span></i>

			</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="item">
			<div class="subtitle">
                <h3>Hitchhike Tracking Website</h3>
                <h4>Race2</h4>
			</div>
			<div class="languages">
				<i class="devicon-django-plain colored tooltip"><span class="tooltiptext">Django</span></i>
				<i class="devicon-python-plain colored tooltip"><span class="tooltiptext">Python</span></i>
				<i class="devicon-html5-plain colored tooltip"><span class="tooltiptext">HTML</span></i>
				<i class="devicon-css3-plain colored tooltip"><span class="tooltiptext">CSS</span></i>
				<i class="devicon-postgresql-plain colored tooltip"><span class="tooltiptext">PostgreSQL</span></i>

				<span class="tooltip"><img class="twilio" src="https://cdn.icon-icons.com/icons2/2389/PNG/512/twilio_logo_icon_144786.png"><span class="tooltiptext">Twilio</span></span>
				<i class="devicon-heroku-plain colored tooltip"><span class="tooltiptext">Heroku</span></i>

			</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="item">
			<div class="subtitle">
                <h3>Hitchhike Mobile App</h3>
                <h4>Race2</h4>
			</div>
			<div class="languages"> 
				<span class="tooltip"><img class="ionic" src="https://img.icons8.com/ios-filled/50/000000/ionic.png"/><span class="tooltiptext">Ionic</span></span>
				<i class="devicon-angularjs-plain colored tooltip"><span class="tooltiptext">Angular</span></i>
				<i class="devicon-typescript-plain colored tooltip"><span class="tooltiptext">TypeScript</span></i>
				<i class="devicon-html5-plain colored tooltip"><span class="tooltiptext">HTML</span></i>
				<i class="devicon-css3-plain colored tooltip"><span class="tooltiptext">CSS</span></i>

				<i class="devicon-android-plain colored tooltip"><span class="tooltiptext">Android</span></i>
				<i class="devicon-apple-original colored tooltip"><span class="tooltiptext">iOS</span></i>

			</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="item">
			<div class="subtitle">
                <h3>Coalesce</h3>
                <h4>Roblox</h4>
			</div>
			<div class="languages">
				<span class="tooltip"><img src="https://img.icons8.com/color/48/000000/roblox.png"/><span class="tooltiptext">Roblox Studio</span></span>
				<span class="tooltip"><img class="lua" src="https://cdn.icon-icons.com/icons2/2148/PNG/512/lua_icon_132239.png"><span class="tooltiptext">Lua</span></span>
			</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
    </div>
</div>