<h1>Work</h1>
<div class="work-items">
    <div class="work-item" id="race2">
        <div class="imagebox">
            <img src="assets/hitch.JPG">
            <div class="image-overlay"></div>
        </div>
        <div class="textbox">
            <div class="text">
                <h2>Race2</h2>
                <h4>Website and App Creation</h4>
            </div>
        </div>
    </div>
    <div class="work-item" id="trip">
        <div class="imagebox">
            <img src="assets/trip.jpeg">
            <div class="image-overlay"></div>
        </div>
        <div class="textbox">
            <div class="text">
                <h2>TripAdvisor</h2>
                <h4>Website Redevelopment</h4>
            </div>
        </div>
    </div>
    <div class="work-item" id="coalesce">
        <div class="imagebox">
            <img src="assets/coalesce.png">
            <div class="image-overlay"></div>
        </div>
        <div class="textbox">
            <div class="text">
                <h2>Coalesce</h2>
                <h4>Multi-platform Game Creation</h4>
            </div>
        </div>
    </div>
</div>