@import '../../palette.sass'

.work-items
    display: grid
    grid-template-columns: auto auto auto
    gap: 20px

.work-item
    flex: 0.33333
    display: flex
    flex-direction: column
    position: relative


    .imagebox
        position: relative
        img
            width: 100%
            object-fit: cover
            display: block
            filter: grayscale(1)

        .image-overlay
            width: 100%
            height: 100%
            position: absolute
            top: 0
    
    .textbox
        position: absolute
        bottom: 0

    .text
        display: flex
        flex-direction: column-reverse
        padding-left: 24px
        justify-content: center
        height: 100%
        color: white

        h2
            text-transform: uppercase
            font-size: 2em
            margin: 0.4em 0 0.8rem 0
            font-size: 2.5rem
        
        h4
            margin: 0


#race2
    $race2-back: rgba(252, 206, 3, 0.3)
    .image-overlay
        background: $race2-back
        background: -webkit-linear-gradient($race2-back, rgba(252, 206, 3, 0.8))
        background: linear-gradient($race2-back, rgba(252, 206, 3, 0.8))

#trip
    $trip-back: rgba(0, 168, 129, 0.3)
    .image-overlay
        background: $trip-back
        background: linear-gradient($trip-back, rgba(0, 168, 129, 0.8))

#coalesce
    $coalesce-back: rgba(0, 164, 214, 0.3)
    .image-overlay
        background: $coalesce-back
        background: linear-gradient($coalesce-back, rgba(0, 164, 214, 0.8))

.title
    mask-image: url(../../assets/titles/work.svg)
    margin-top: 25px

@include media(">=phone", "<tablet") 
    .work-items
        grid-template-columns: auto

    