@import "../palette.sass"

$foreground-color: $primary-light
    

.section
    width: 100%

.top-shaddow
    z-index: 2
    width: 100%
    position: absolute
    top: calc(100vh - 30px)
    height: 30px
    -webkit-box-shadow: 0 25px 20px rgba(0,0,0,0.7)
    -moz-box-shadow: 0 25px 20px rgba(0,0,0,0.7)
    box-shadow: 0 25px 20px rgba(0,0,0,0.7)

.icons
    filter: invert(1)
    vertical-align: text-top
    height: 1.2em

//Other pages

.main
    padding: 50px 10%
    background: $primary-lightest
    color: $primary-dark
    display: flex
    flex-wrap: wrap

.page
    margin: 15px
    flex: 1

#proj
    flex: 1.5
    

@include media(">=phone", "<tablet") 
    #home
        flex-direction: column
    
    .w
        margin: 0
        height: auto
        width: auto
        background-color: $foreground-color
        fill: $primary-dark
        stroke: $primary-dark
        stroke-width: 0.1px

    .text-section
        align-items: center
        height: 100%

    .icons
        height: 2.5em

    .title-text
        text-align: center

    .main
        padding: 30px 10px