
<app-home class="section"></app-home>

<div class="top-shaddow"></div>

<footer>
    <div class="footer-shaddow"></div>
    <div class="footer-body">
        © Will Thompson 2020
        <div>
            <a href="https://www.linkedin.com/in/will-thompson-9907b712a/" target="_blank"><img src="https://img.icons8.com/material/240/000000/linkedin--v1.png" class="icons"/></a>
            <a href="https://www.github.com/wizwoz" target="_blank"><img src="https://img.icons8.com/material/240/000000/github.png" class="icons"/></a>
            <a href="mailto:willthomps1603@gmail.com"><img src="https://img.icons8.com/material/240/000000/important-mail.png" class="icons"/></a>
        </div>
    </div>
</footer>


