@import './displays.sass'
    
$primary-dark: #393E41
$secondary-dark: #272b2d
$primary-mid: #d7d8d9
$primary-mid-light: #e5e5e6
$primary-light: #FEEFE5
$primary-lighter: #fef3ec
$primary-lightest: #fffefe


$primary-eggshell: #6797b3

$primary-yellow: #FFCF00
$secondary-yellow: #e5ba00
$primary-green: #05A8AA
$primary-orange: #EE6123
$secondary-orange: #d6571f


