/* You can add global styles to this file, and also import other style files */

@import "./palette.sass"
@import "~bootstrap/dist/css/bootstrap.css"
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&family=Titillium+Web:wght@300;400&display=swap')
@import '~mapbox-gl/dist/mapbox-gl.css'

.b-red
    background: $primary-red

.b-yellow
    background: $primary-yellow

.b-blue
    background: $primary-blue

.b-orange
    background: $primary-orange

h1
    font-family: 'Rokkitt', serif

body
    font-family: 'Titillium Web', sans-serif

.marker 
    display: flex
    justify-content: center
    align-items: center

    .icon
        width: 32px
        height: 32px

    .text
        position: absolute
        padding-bottom: 8px
        font-weight: 600
