/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import "./palette.sass"

body 
    margin: unset
    font-family: 'Montserrat', sans-serif
    background-color: $primary-background-dark


.page
    display: flex
    height: 100vh