<div class="outer">
    <div class="back"></div>
    <div class="inner">
        <div class="wtitle">
            <div class="titleback"></div>
        </div>
        <!-- <div class="w big-screen" [inlineSVG]="'/assets/w.svg'"></div>
        <div class="w small-screen" [inlineSVG]="'/assets/w.svg'" [setSVGAttributes]='{viewBox: "0 0 84.640343 70.460632", preserveAspectRatio: "xMidYMin meet"}'></div> -->
        <div class="text-section big-screen">
            <h2>
                Will Thompson <br>
                Software Engineer 
            </h2>
            <div>
                <a href="https://www.linkedin.com/in/will-thompson-9907b712a/" target="_blank"><img src="https://img.icons8.com/material/240/000000/linkedin--v1.png" class="icons"/></a>
                <a href="https://www.github.com/wizwoz" target="_blank"><img src="https://img.icons8.com/material/240/000000/github.png" class="icons"/></a>   
            </div>
                
        </div>
        <!-- <div class="text-section small-screen">
            <div class="title-text-container">
                
            </div>
            Will Thompson | Software Engineer 
            <div>
                <a href="https://www.linkedin.com/in/will-thompson-9907b712a/" target="_blank"><img src="https://img.icons8.com/material/240/000000/linkedin--v1.png" class="icons"/></a>
                <a href="https://www.github.com/wizwoz" target="_blank"><img src="https://img.icons8.com/material/240/000000/github.png" class="icons"/></a>
            </div>
        </div> -->
    </div>
</div>