.coming-soon 
    font-family: 'Oswald', Arial
    font-size: 60px
    align-self: center
    margin-left: 1em

    span
        animation: blinky 2s infinite
        animation-timing-function: linear

@keyframes blinky
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1